@(form: play.data.Form[UserLoginHTML], form2: play.data.Form[UserRegisterHTML])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Sofi Chat Room") {

    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>

    <script>
    $(document).ready(function(){
        $("#swap").click(function(){
            var btn = document.getElementById("swap");

            if (btn.value == "Register")
                btn.value = "Login";
            else
                btn.value = "Register";
        });
      });
    </script>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid" id="titleBox">
                <br>
                <label style="font-size: 20pt" for="title">SoFi Chat Room</label>
                <br>
            </div>
        </div>
    </div>
    <br>

    <div class="collapse in" style="position:relative; top: 20px; width:100%;height:100%">
        @helper.form(action = routes.Application.login, 'class -> "well row-fluid", 'id -> "loginForm") {
            @if(form.hasErrors()){
                @for(error <- form("invalidUser").errors){
                    <label style="color: #E60000; font-size: 16pt" for="title">Error: Invalid Username or Password</label>
                }
            }
            @helper.inputText(form("uName"),'_label -> "User Name: ")
            @helper.inputPassword(form("pword"), '_label -> "Password: ")
            <div class="controls">
                <input type="submit" class="btn visible-xs" value="Login"/>
            </div>
        }
    </div>
<br>
<br>
        @helper.form(action = routes.Application.addUser, 'class -> "well row-fluid", 'id -> "registerForm") {
            <div class="controls">
                <input type="button" id="swap" class="btn visible-xs" data-toggle='collapse' data-target=".collapse" value="Register"/>
            </div>
            <br>
            <div id="toggleDemo" class="collapse">
            @helper.inputText(form2("dNameR"),
                '_label -> "Display Name: ",
                'placeholder -> "Name you want others to see")
            @helper.inputText(form2("uNameR"),
                '_label -> "User Name: ",
                'placeholder -> "Login name")
            @helper.inputPassword(form2("pwordR"),
                '_label -> "Password: ",
                'placeholder -> "Login password")
            <div class="controls">
                <input type="submit" class="btn visible-xs"value="Submit"/>
            </div>
        </div>
        }
}